cryptography==41.0.3
Django==4.2.4
django-bootstrap-icons==0.8.3
django-bootstrap5==23.3
django-compositekey==1.5.0
django-cryptography==1.1
django-filter==23.2
django-viewflow==2.0.0b7
email-validator==1.3.1
marshmallow==3.20.1
mysqlclient==2.2.0 --install-option="--mysql-config=/usr/local/opt/mysql-client/bin/mysql_config"
mysql-python==1.2.5
numpy==1.25.2
pandas==1.5.3
Pillow==10.0.0
python-dateutil==2.8.2
viewflow==0.1.0
