{% extends 'base.html' %}

{% block title%}Home{% endblock %}

{% block content %}
<div class="row pt-5">
  <div class="col-sm-1">
    <div class="container"></div>
  </div>
 <div class="col-sm-10">
  <div style="text-align: center;">
    <h2 id="h2_heading">New Releases</h2>
  </div>
  <br>
    {% if newest_releases %}
    <div class="wrapper">
      <i id="left"><</i>
          <ul class="carousel">
            {% for book in newest_releases %}
            <li class="card">
              <div class="img"><a href="{% url 'book_detail' book.bookid %}">
            <img src="{{book.image_url}}" alt="img" draggable="false">
              </a></div>
              <h2><a href="{% url 'book_detail' book.bookid %}" style="color:black">{{ book.title }}</a></h2>
              <span>{{ book.price }}</span>
            </li>
            {% endfor %}
          </ul>
          <i id="right">></i>
    </div>
    {% else %}
    <p>No books are available.</p>
    {% endif %}
  </div>

  <div class="col-sm-1">
    <div class="container"></div>
  </div>
</div>



<div class="row pt-5">
  <div class="col-sm-1">
    <div class="container"></div>
  </div>
  <div class="col-sm-10">
    <div class=" d-grid justify-content-center">
    <h2 id="h2_heading">Top Rating Book Reviews</h2>
    </div>
  </div>
  <div class="col-sm-1">
    <div class="container"></div>
  </div>
</div>

<div class="row pt-5">
  <div class="col-sm-1">
    <div class="container"></div>
  </div>
  <div class="col-sm-10">
    <div class="review_list">
    {% if top_review_list %}
      {% for review in top_review_list %}
      <div class="review">
        <div class="review_card">
        <div class="book">
          <div class="img_card">
            <a href="{% url 'book_detail' review.bookid.bookid %}">
          <img class="img-fluid" src="{{review.bookid.image_url}}" alt="book">
        </a>
        </div>
        </div>
        <div class="comment">
          <div class="title">
          <h3>{{ review.bookid.title }}</h3>
        </div>
        <div class="review_desc">
          <p> {{ review.review }} </p>
        </div>
        </div>
        <div class="reviewer">
          <img class="img-fluid" src="" alt="reviewer">
          <p>{{ review.userid.username }}</p>
        </div>
        <div class="rating">
          <p>{{ review.rating }} of 10</p>
        </div>
      </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p>No reviews are available.</p>
    {% endif %}
  </div>


  <div class="col-sm-1">
    <div class="container"></div>
  </div>
</div>


{% endblock %}
